<%- include('../partials/header') %>


  <h3><%= skill %></h3>
  <a href="/skills/<%=id%>/edit">Edit Skill</a>
  <form
        action="/skills/<%= id %>?_method=DELETE"
        method="POST"
        class="delete-form"
    >
        <button type="submit">Delete Skill</button>
    </form>




<%- include('../partials/footer') %>